<tr class="order_entry">
	<td class="amount_table_col"><%= items_in_cart.quantity %> ×</td>
	<td class="name_table_col"><%= items_in_cart.product.name %></td>
	<td class="item_price quantity_table_col"><%= number_to_currency(items_in_cart.product.price) %></td>
</tr>