// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders {
	table {
		margin-top: 1em !important;

		#total_price > td {
			border-top: 3px double #fff;
		}
		tr:nth-child(even) {
			//background-color: #4D3A22;
		}
		tr:nth-child(odd) {
			//background-color: #5C4629;
		}
	}

	.charms {
		min-width: 0;
		max-width: 0;
	}
}