html {
  height: 100%;
}

body {
  background-color: rgb(49, 49, 49);
  color: #fff;
  height: 100%;
  width: 95%;
  margin: 0 auto;
}



div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #b91d47;
  display: table;
}