 <div class="tile outline-color-blue">
  <div class="tile_content">
    <a href="#">
      <div class="select_user_name name"></div>
    </a>          
  </div>
  <div class="brand">
      <div class="name"></div>
  </div>
</div>